In [1]:
import pandas as pd

In [2]:
data_series = pd.Series(["UCLA", "CU", "UT"])

data_series

0    UCLA
1      CU
2      UT
dtype: object

In [7]:
states_dicts = [
    {"State": "New Jersey", 
         "Abbreviation":"NJ"},
    {"State":"Texas",
         "Abbreviation":"TX"},
    {"State":"Colorado",
         "Abbreviation":"CO"},
]

In [8]:
states_df = pd.DataFrame(states_dicts)

states_df

        State Abbreviation
0  New Jersey           NJ
1       Texas           TX
2    Colorado           CO

In [12]:
frame_shop_list = {
    "Frame":["Large","Medium","Small","Artisan","Discount"],
    "Price":[59.99,39.99,19.99,89.99,9.99],
    "Sales":[8,4,10,3,20]}

frame_shop_df = pd.DataFrame(frame_shop_list)

frame_shop_df

      Frame  Price  Sales
0     Large  59.99      8
1    Medium  39.99      4
2     Small  19.99     10
3   Artisan  89.99      3
4  Discount   9.99     20

In [14]:
frame_alternate = [
    {"Painting":"Van Gogh", 
         "Price":45000.00, 
             "Popularity": "High"},
    {"Painting" : "Corey Gaunt", 
         "Price": 0.99, 
             "Popularity":"No One Knows It Exists"},
    {"Painting" : "Picasso", 
         "Price":100000.00, 
             "Popularity":"Immense"},
    {"Painting" : "My Mom", 
         "Price":1000000.00, 
             "Popularity":"Priceless"}
]

frame_alternate_df = pd.DataFrame(frame_alternate)

frame_alternate_df

      Painting       Price              Popularity
0     Van Gogh    45000.00                    High
1  Corey Gaunt        0.99  No One Knows It Exists
2      Picasso   100000.00                 Immense
3       My Mom  1000000.00               Priceless