In [1]:
import json
import requests
import pandas as pd

In [5]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
starCharacters = []

# Loop through each character and make API request
for character in search_characters:
    response = requests.get(url + character)
    swarsJson = response.json()
    
    try:
        height.append(swarsJson['results'][0]['height'])
        mass.append(swarsJson['results'][0]['mass'])
        starCharacters.append(character)
        print('Item verified in API - pulling & appending stats')
    except:
        print("That dude wasn't in star wars!")
        pass
    

    # Create search query, make request and store in json
    
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    
        
    # Handle exceptions for a character that is not available in the Star Wars API

Item verified in API - pulling & appending stats
Item verified in API - pulling & appending stats
That dude wasn't in star wars!
Item verified in API - pulling & appending stats
That dude wasn't in star wars!
Item verified in API - pulling & appending stats
That dude wasn't in star wars!
That dude wasn't in star wars!
Item verified in API - pulling & appending stats

In [6]:
starwars = {
    "Name":starCharacters,
    "Height":height,
    "Weight":mass
}

pd.DataFrame(starwars)

             Name Height Weight
0           R2-D2     96     32
1     Darth Vader    202    136
2  Luke Skywalker    172     77
3       Boba Fett    183   78.2
4        Han Solo    180     80

In [4]:
# Create DataFrame

[]