In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import os, csv

# Import API key
from config import g_key

In [2]:
# Import cities file into the cities_pd DataFrame
cities = os.path.join('Resources','Cities.csv')
cityFile = pd.read_csv(cities)
cities_pd = pd.DataFrame(cityFile)
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [3]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd['Latitude'] = ""
cities_pd['Longitude'] = ""
cities_pd['Airport Name'] = ""
cities_pd['Airport Address'] = ""
cities_pd['Airport Rating'] = ""

cities_pd.head()

,City,State,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [4]:
# Loop through the cities_pd and get the lat/long for each city

# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`
   params = {'key':g_key}
longitudes = []
for index, row in cities_pd.iterrows():
    base_url = ('https://maps.googleapis.com/maps/api/geocode/json')
    city = row['City']
    state = row["State"]
    params['address'] = f"{city},{state}'
    
    response = requests.get(base_url,params=params).json()
    cityJson.append(response)

In [5]:
#cityJson

In [6]:

for city in cityJson:
    latitudes.append(cityJson['results'][0]['geometry']['location']['lat'])

TypeError: list indices must be integers or slices, not dict

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears