In [1]:
# Dependencies
import pandas as pd
import os
import csv

In [2]:
# Save file path to variable
poke_file = os.path.join("Pokemon.csv")

poke_df = pd.read_csv(poke_file)

In [3]:
# Read with Pandas
poke_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"

sub_df = poke_df[["Type 1","HP","Attack","Sp. Atk","Sp. Def","Speed"]]

sub_df.head()

  Type 1  HP  Attack  Sp. Atk  Sp. Def  Speed
0  Grass  45      49       65       65     45
1  Grass  60      62       80       80     60
2  Grass  80      82      100      100     80
3  Grass  80     100      122      120     80
4   Fire  39      52       60       50     65

In [10]:
# Create a dataframe of the average stats for each type of pokemon.
stat_df = sub_df.groupby("Type 1").mean().round(2)

stat_df

             HP  Attack  Sp. Atk  Sp. Def   Speed
Type 1
Bug       56.88   70.97    53.87    64.80   61.68
Dark      66.81   88.39    74.65    69.52   76.16
Dragon    83.31  112.12    96.84    88.84   83.03
Electric  59.80   69.09    90.02    73.70   84.50
Fairy     74.12   61.53    78.53    84.71   48.59
Fighting  69.85   96.78    53.11    64.70   66.07
Fire      69.90   84.77    88.98    72.21   74.44
Flying    70.75   78.75    94.25    72.50  102.50
Ghost     64.44   73.78    79.34    76.47   64.34
Grass     67.27   73.21    77.50    70.43   61.93
Ground    73.78   95.75    56.47    62.75   63.91
Ice       72.00   72.75    77.54    76.29   63.46
Normal    77.28   73.47    55.82    63.72   71.55
Poison    67.25   74.68    60.43    64.39   63.57
Psychic   70.63   71.46    98.40    86.28   81.49
Rock      65.36   92.86    63.34    75.48   55.91
Steel     65.22   92.70    67.52    80.63   55.26
Water     72.06   74.15    74.81    70.52   65.96

In [11]:
# Calculate the total power level of each type of pokemon by summing all of the stats together.
stat_df["Power"] = stat_df["HP"] + stat_df["Attack"]+ stat_df["Sp. Atk"]+ stat_df["Sp. Def"]+ stat_df["Speed"]
stat_df

# Place the results into a new column.
# Hint: Research the sum method from pandas.

             HP  Attack  Sp. Atk  Sp. Def   Speed   Power
Type 1
Bug       56.88   70.97    53.87    64.80   61.68  308.20
Dark      66.81   88.39    74.65    69.52   76.16  375.53
Dragon    83.31  112.12    96.84    88.84   83.03  464.14
Electric  59.80   69.09    90.02    73.70   84.50  377.11
Fairy     74.12   61.53    78.53    84.71   48.59  347.48
Fighting  69.85   96.78    53.11    64.70   66.07  350.51
Fire      69.90   84.77    88.98    72.21   74.44  390.30
Flying    70.75   78.75    94.25    72.50  102.50  418.75
Ghost     64.44   73.78    79.34    76.47   64.34  358.37
Grass     67.27   73.21    77.50    70.43   61.93  350.34
Ground    73.78   95.75    56.47    62.75   63.91  352.66
Ice       72.00   72.75    77.54    76.29   63.46  362.04
Normal    77.28   73.47    55.82    63.72   71.55  341.84
Poison    67.25   74.68    60.43    64.39   63.57  330.32
Psychic   70.63   71.46    98.40    86.28   81.49  408.26
Rock      65.36   92.86    63.34    75.48   55.91  352.95
Steel     65.22   92.70    67.52    80.63   55.26  361.33
Water     72.06   74.15    74.81    70.52   65.96  357.50

In [12]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.

sorted_df = stat_df.sort_values("Power",ascending=False)
sorted_df

             HP  Attack  Sp. Atk  Sp. Def   Speed   Power
Type 1
Dragon    83.31  112.12    96.84    88.84   83.03  464.14
Flying    70.75   78.75    94.25    72.50  102.50  418.75
Psychic   70.63   71.46    98.40    86.28   81.49  408.26
Fire      69.90   84.77    88.98    72.21   74.44  390.30
Electric  59.80   69.09    90.02    73.70   84.50  377.11
Dark      66.81   88.39    74.65    69.52   76.16  375.53
Ice       72.00   72.75    77.54    76.29   63.46  362.04
Steel     65.22   92.70    67.52    80.63   55.26  361.33
Ghost     64.44   73.78    79.34    76.47   64.34  358.37
Water     72.06   74.15    74.81    70.52   65.96  357.50
Rock      65.36   92.86    63.34    75.48   55.91  352.95
Ground    73.78   95.75    56.47    62.75   63.91  352.66
Fighting  69.85   96.78    53.11    64.70   66.07  350.51
Grass     67.27   73.21    77.50    70.43   61.93  350.34
Fairy     74.12   61.53    78.53    84.71   48.59  347.48
Normal    77.28   73.47    55.82    63.72   71.55  341.84
Poison    67.25   74.68    60.43    64.39   63.57  330.32
Bug       56.88   70.97    53.87    64.80   61.68  308.20